.active span {
  color: #ed3833;
  font-weight: bold;
  padding-bottom: 4px;
}
.active svg {
  font-size: 24px;
  border-bottom: 3px solid #ed3833;
  padding-bottom: 4px;
}

@media (max-width: 1300px) {
  .recommended .info {
    display: none;
  }
}
@media (max-width: 1000px) {
  .recommended .info {
    display: flex;
  }
}
@media (max-width: 1000px) {
  .videoParent {
    display: flex;
    flex-direction: column !important;
  }
}
